mixin user(color)
	.user
		.user__avatar
			img(class="avatar__pic" src="assets/img/userfiles/avatar.jpg")
		.user__name Корнеев Сергей
		.user__desc Личный сайт веб разработчика

mixin nav(className, modifier, items)
	nav(class= className)
		ul(class=`${className}__list`)
			each item in items
				li(class=`${className}__item` + ( (modifier === 'inline') ? ` ${className}__item_inline` : '') )
					a(class=`${className}__list` href=`${item.link}`)= item.title

mixin social(items, modifier)
	ul.social__list
		each item in items
			if modifier === 'round'
				- var id = item.title + '_round'
			else
				- var id = item.title

			li.social__item
				a.social__link(class=`social__link_${id}` href=`${item.link}` target="_blank")
					svg.icon
						use(xlink:href=`assets/img/sprite/sprite.svg#${id}`)

mixin copy-right
	ul.copy-right
		li.copy-right__item
			span.copy-right__text &copy; Корнеев Сергей
		li.copy-right__item
			span.copy-right__text создано с любовью в Loftschool
		li.copy-right__item
			span.copy-right__text 2017